<h1>
    New Job Start
</h1>
<p>
    This is the page where the workflow for creating a new job will begin.
</p>

<form>
    <div class="form-group">
        <label for="creatorName">Your Name</label>
        <input type="text" class="form-control" id="creatorName" required placeholder="Your Name">
    </div>
    <div class="form-group">
        <label for="name">Job Name</label>
        <input type="text" class="form-control" id="name" required placeholder="Job Name">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" id="description" required placeholder="Job Description"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

</form>