<div class="blocker" [hidden]="hasLoaded">
    <p>Loading ...</p>
</div>

<h1>
    New Job Start
</h1>

<p>
    This is the page where the workflow for creating a new job will begin.
</p>

<form [(formGroup)]="newJobForm" (ngSubmit)="onSubmitJobForm(newJobForm.value)">
    <!-- Job Requester -->
    <div class="form-group row">
        <label class="col-md-3 col-sm-12 col-form-label required" for="creator_name">Your Name</label>
        <div class="col-md-9 col-sm-12">
            <input id="creator_name"
                   name="creator_name"
                   class="validate filter-input form-control"
                   placeholder="Your Name"
                   formControlName="creator_name"
                   type="text"
                   [required]
                   (keyup)=filterEmployees()>
            <div class="suggestions">
                <ul class="suggestions__list"
                    *ngIf="filteredEmployeeList.length > 0">
                    <li *ngFor="let creator of filteredEmployeeList">
                        <a (click)="onSelectCreator(creator)">{{creator.name}}</a>
                    </li>
                </ul>
                <div class="unknown" [hidden]="!hasTyped">
                    <p>Name not appearing? Click <a class="btn-link"
                                                    data-toggle="modal"
                                                    data-target="#addCreatorModal"
                                                    (click)="showUserModal()">here</a>.</p>
                </div>
            </div>

            <div *ngIf="newJobForm.controls['creator_name'].hasError('required') && newJobForm.controls['creator_name'].touched"
                 class="alert alert-danger">Please enter your name.
            </div>

            <div class="unknown" [hidden]="!hasSavedCreator">
                <p>
                    Not {{newJobForm.controls['creator_name'].value}}? Click <a class="btn-link"
                                                                                (click)="clearSavedCreator()">here</a>.
                </p>
            </div>

        </div>
    </div>
    <!-- Job Department -->
    <div class="form-group row">
        <label class="col-md-3 col-sm-12 col-form-label" for="creator_department">Department</label>
        <div class="col-md-9 col-sm-12">
            <select id="creator_department"
                    name="creator_department"
                    class="form-control department__list"
                    [formControl]="newJobForm.controls['creator_department']"
                    *ngIf="departmentList.length > 0">
                <option *ngFor="let department of departmentList"
                        value="{{department.id}}">
                    {{department.name}}
                </option>
            </select>

        </div>
    </div>
    <!-- Job Due Date -->
    <div class="form-group row">
        <label class="col-md-3 col-sm-12 col-form-label" for="due_date">Due Date</label>
        <div class="col-md-9 col-sm-12">
            <div style="display:inline-block">
                <p-calendar name="due_date"
                            id="due_date"
                            formGroupName="due_date"
                            dateFormat="mm/dd/yy"
                            [disabledDates]="invalidDates"
                            [disabledDays]="[0,6]"
                            [minDate]="minDate"
                            [maxDate]="maxDate"
                            formControlName="due_date"
                            [showIcon]="true"
                ></p-calendar>
            </div>
            <div *ngIf="newJobForm.controls['due_date'].touched && newJobForm.controls['due_date'].hasError('required')"
                 class="alert alert-danger">Please select a valid date.
            </div>
        </div>
    </div>
    <!-- Job Title -->
    <div class="form-group row">
        <label class="col-md-3 col-sm-12 col-form-label" for="job_title">Job Title</label>
        <div class="col-md-9 col-sm-12">
            <input type="text"
                   id="job_title"
                   name="job_title"
                   class="validate filter-input form-control"
                   formControlName="job_title"
                   required/>
            <div *ngIf="newJobForm.controls['job_title'].touched && newJobForm.controls['job_title'].hasError('required')"
                 class="alert alert-danger">Please enter a job title.
            </div>
        </div>
    </div>
    <!-- Job Description -->
    <div class="form-group row">
        <label class="col-md-3 col-sm-12 col-form-label" for="job_description">Job Description</label>
        <div class="col-md-9 col-sm-12">
            <textarea id="job_description"
                      name="job_description"
                      class="validate filter-input form-control"
                      formControlName="job_description"
                      maxlength="150"
                      required>
            </textarea>
            <small>Characters remaining: <span
                    [ngClass]="{'warning': (newJobForm.controls['job_description'].value && (150-newJobForm.controls['job_description'].value.length <= 10))}">{{150-(newJobForm.controls['job_description'].value ? newJobForm.controls['job_description'].value.length : 0)}}</span>
            </small>
            <div *ngIf="newJobForm.controls['job_description'].touched && newJobForm.controls['job_description'].hasError('required')"
                 class="alert alert-danger">Please enter a job description.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!newJobForm.valid">Submit</button>
</form>



<!-- Modal -->
<div id="addCreatorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="newUserForm" (ngSubmit)="onSubmitUserForm(newUserForm.value)">
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label" for="first_name">First Name</label>
                        <div class="col-sm-12">
                            <input type="text"
                                   id="first_name"
                                   name="first_name"
                                   class="form-control"
                                   placeholder="First Name"
                                   [formControl]="newUserForm.controls['first_name']"
                                   required
                            />
                            <div *ngIf="newUserForm.controls['first_name'].hasError('required') && newUserForm.controls['first_name'].touched"
                                 class="alert alert-danger">You must include a first name.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label" for="nickname">Nickname (if any)</label>
                        <div class="col-sm-12">
                            <input type="text"
                                   id="nickname"
                                   name="nickname"
                                   class="form-control"
                                   placeholder="Nickname"
                                   [formControl]="newUserForm.controls['nickname']"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label" for="last_name">Last Name</label>
                        <div class="col-sm-12">
                            <input type="text"
                                   id="last_name"
                                   name="last_name"
                                   class="form-control"
                                   placeholder="Last Name"
                                   required
                                   minlength="2"
                                   [formControl]="newUserForm.controls['last_name']"/>

                            <div *ngIf="newUserForm.controls['last_name'].hasError('required') && newUserForm.controls['last_name'].touched"
                                 class="alert alert-danger">You must include a last name.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label" for="email">Email</label>
                        <div class="col-sm-12">
                            <input type="text"
                                   id="email"
                                   name="email"
                                   class="form-control"
                                   placeholder="yourname@southernground.com"
                                   required
                                   email
                                   [formControl]="newUserForm.controls['email']"/>

                            <div *ngIf="newUserForm.controls['email'].hasError('required') && ((newUserForm.controls['email'].touched) && newUserForm.controls['email'].hasError('email'))"
                                 class="alert alert-danger">
                                You must add an email.
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label" for="office_phone">Office Phone</label>
                        <div class="col-sm-12">
                            <input type="text"
                                   id="office_phone"
                                   name="office_phone"
                                   class="form-control"
                                   placeholder="XXX-XXX-XXXX ext. XXX"
                                   [formControl]="newUserForm.controls['office_phone']"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 col-form-label" for="other_phone">Other Phone</label>
                        <div class="col-sm-12">
                            <input type="text"
                                   id="other_phone"
                                   name="other_phone"
                                   class="form-control"
                                   placeholder="XXX-XXX-XXXX"
                                   [formControl]="newUserForm.controls['other_phone']"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" [disabled]="!newUserForm.valid">Submit
                        </button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>